.intro-door {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
  background: transparent;
  overflow: hidden;
}

.door {
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: transform 2s ease-in-out; /* penting buat animasi */
}

/* pintu kiri */
.door.left {
  background-image: url("./assets/image/opening-door-left.jpg");
  transform-origin: left center;
}

/* pintu kanan */
.door.right {
  background-image: url("./assets/image/opening-door-right.jpg");
  transform-origin: right center;
}

/* animasi jalan pas class .open nempel */
.intro-door.open .door.left {
  transform: translateX(-100%);
}

.intro-door.open .door.right {
  transform: translateX(100%);
}
